{{#if attrs.checked}}
  <i class="fa fa-check-circle-o fa-2x task__status-checkbox__icon" onclick={{action (action "toggleStatus")}}></i>
{{else}}
  <div class="checkbox-circle" onclick={{action (action "toggleStatus")}}></div>
{{/if}}
