{{status-checkbox checked=(readonly attrs.task.completed)
                  toggle=(action attrs.toggle)}}

<!-- TODO: in the tags below, replace each _ with "{{" or "}}" -->
{{editable-task-name completed=(readonly attrs.task.completed)
                     name=(readonly attrs.task.name)
                     rename=(action attrs.rename)}}

<span class="task__remove-button" onclick={{action (action attrs.remove)}}>X</span>
