{{status-checkbox checked=(readonly attrs.task.completed)
                  toggle=(action attrs.toggle)}}

<!-- TODO: in the tags below, replace each _ with "{{" or "}}" -->
<span>{{attrs.task.name}}</span>
<!--span onclick=_action (action "removeTask" task)_>x</span-->
