.todo-container__footer {
  align-items: center;
  border-top: $todo-container__list--border--faded;
  display: flex;
  height: $todo-container__row--height;
  justify-content: space-between;
}

.todo-container__footer--item-container {
  width: 33%;
}

.todo-container__footer__remaining-task-count {

}

.todo-container__footer__task-status-filter-list {
  display: flex;
}

.todo-container__footer__clear-completed-button {

}
