.todo-footer {
  align-items: center;
  border-top: $todo-container__list--border--faded;
  display: flex;
  height: $todo-container__row--height;
  justify-content: space-between;
}

.footer__remaining-task-count {

}

.footer__task-status-filter-list {
  display: flex;
}

.footer__clear-completed-button {

}
