.todo-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__remaining-task-count {

}

.footer__task-status-filter-list {
  display: flex;
}

.footer__clear-completed-button {

}