<ul>
  {{#each tasks as |task|}}
    <li>
      {{status-checkbox task=task}}

      <span>{{task.name}}</span>
      <span onclick={{action (action "removeTask" task)}}>x</span>
    </li>
  {{/each}}
</ul>
